
	{% load static %}

	<script src="..{% static 'vendors/bower_components/jquery/dist/jquery.min.js' %}"></script>


	<script src="..{% static 'vendors/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>


	<script src="..{% static 'vendors/bower_components/datatables/media/js/jquery.dataTables.min.js' %}"></script>
	

	<script src="..{% static 'assets/js/jquery.slimscroll.js' %}"></script>
		

	<script src="..{% static 'vendors/bower_components/waypoints/lib/jquery.waypoints.min.js' %}"></script>
	<script src="..{% static 'vendors/bower_components/jquery.counterup/jquery.counterup.min.js' %}"></script>
	

	<script src="..{% static 'assets/js/dropdown-bootstrap-extended.js' %}"></script>
	


	<script src="..{% static 'vendors/jquery.sparkline/dist/jquery.sparkline.min.js' %}"></script>


	<script src="..{% static 'vendors/bower_components/owl.carousel/dist/owl.carousel.min.js' %}"></script>


	<script src="..{% static 'vendors/bower_components/switchery/dist/switchery.min.js' %}"></script>


	<script src="..{% static 'vendors/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
	<script src="..{% static 'vendors/vectormap/jquery-jvectormap-us-aea-en.js' %}"></script>
	<script src="..{% static 'vendors/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="..{% static 'assets/js/vectormap-data.js' %}"></script>



	 <!-- <script src="..{% static 'vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js' %}"></script> -->


	<script src="..{% static 'vendors/bower_components/peity/jquery.peity.min.js' %}"></script>
	<script src="..{% static 'assets/js/peity-data.js' %}"></script>


	<script src="..{% static 'vendors/bower_components/chartist/dist/chartist.min.js' %}"></script>


	<script src="..{% static 'vendors/bower_components/raphael/raphael.min.js' %}"></script>
	<script src="..{% static 'vendors/bower_components/morris.js/morris.min.js' %}"></script>
	<!-- <script src="..{% static 'vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js' %}"></script> -->

	
	<script src="..{% static 'vendors/chart.js/Chart.min.js' %}"></script>


	<script src="..{% static 'assets/js/init.js' %}"></script>
	<script src="..{% static 'assets/js/dashboard-data.js' %}"></script>
	<script src="..{% static 'assets/js/moment-js.js' %}"></script>

	
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
